# =========================
# Telegram
# =========================

BOT_TOKEN=


# =========================
# Market Data APIs
# =========================

FINNHUB_API_KEY=
ALPHAVANTAGE_API_KEY=
OANDA_API_KEY=


# =========================
# Database
# =========================

DATABASE_URL=


# =========================
# Redis
# =========================

REDIS_URL=


# =========================
# AI
# =========================

AI_API_KEY=


# =========================
# Application
# =========================

LOG_LEVEL=INFO
ENVIRONMENT=production
